*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace !important;
}

nav{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 70px;
}

nav a{
    padding: 10px 20px;
    background-color: #8c0000;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}